/* form */
.formdiv {
  display: grid;
  align-items: center;
}
.formin {
  max-width: 400px;
  width: 90vw;
  max-width: var(--fixed-width);
  background: white;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
  transition: var(--transition);
}
body {
  overflow-y: hidden;
}
